body{
    font-family: sans-serif;
    background:#eeee;
}
.card{
    width: 400px;
    background: #fff;
    margin: 16px auto;

}

.title { 
    background: turquoise;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 8px;;
}

.content { 
    background: turquoise;
    margin-bottom: 8px;
    padding: 16px 8px;
}



.button-container  {
    background: turquoise;
    text-align: center;
    padding: 8px;
}

button { 
    background:white;
    border: 1px solid #eeee;
    display: block;
    margin: 0 auto;
    padding: 8px 24px;
}